.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ======================================================================================= */
* {
  box-sizing: border-box;
  margin: 0;
}

header {
  position: relative;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgb(59, 199, 241);
  box-shadow: 0 0 10px rgb(124, 124, 124);
  z-index: 1;
}

#search {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 5px rgb(190, 190, 190);
  z-index: -1;
}

#search > * {
  margin: 0 20px;
}

main {
  display: flex;
}

#bookSection {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.book {
  width: 200px;
  margin: 20px;
}

#shelf {
  width: 30%;
  background-color: rgb(206, 206, 206);
  border-left: 1px solid black;
}

#shelf h2 {
  text-transform: uppercase;
  margin-bottom: 10px;
}